<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:annotation-config />


    <bean id="springHelloWorld" class="com.meng.SpringHelloWorld"></bean>
    <bean id="haohaoHelloWorld" class="com.meng.HaohaoHelloworld"></bean>


    <bean id="helloWorldService" class="com.meng.HelloWorldService">
        <property name="helloWorld" ref="haohaoHelloWorld"/>
    </bean>

    <bean id="person" class="com.meng.entity.Person" autowire="byName">
        <property name="name" value="haohao" />
        <property name="address" value="jinan"/>
        <property name="age" value="1"/>
    </bean>

    <bean id="ability22" class="com.meng.entity.Ability">
        <property name="skill" value="ssssss"/>
    </bean>

    <bean id="develop" class="com.meng.entity.Developer" autowire="byName">
    </bean>

    <bean id="language" class="com.meng.entity.Language">
        <property name="name"  value="sql"/>
    </bean>

    <bean id="customerDao" class="com.meng.dao.impl.CustomerDaoImpl" >
        <property name="dataSource" ref="dataSource" />
    </bean>




</beans>

